body{
    background-color:#ffffff;
margin: 0px;
font-family: Arial, Helvetica, sans-serif;
}
#intro {
    color: #f40000;
}
.highlight{color: #340065;}
.introcontainer{width: 440px;
float: left;}
#intropic{float: left;}
.reset{
    clear: both;
}

#hobbycontainer{
    width: 420px;
    float: left;
}
#heroshot{
    float: left;
    
}

#meme{
    float: left;
}

.socialb{
    float: left;
}
#grotecontainer{
    width: 850px;
    margin: 0 auto;
}
